html {
  min-height: 150%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
  background-blend-mode: screen, overlay, hard-light, normal;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 150%;
  z-index: -1;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}

.lora {
  font-family: 'Lora', serif;
}
