html {
  min-height: 100%;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.33);;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}

#linkedin {
  top: 55px;
  left: -10px;
}

#email {
  top: 55px;
  left: -1px;
}

#github {
  top: 55px;
  left: -5px;
}

.hover-text {
  position: relative;
  display: inline-block;
  margin: 0px;
  text-align: center;
}
