html {
  min-height: 150%;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
  background-blend-mode: screen, overlay, hard-light, normal;
  background-repeat: no-repeat;
}

.content {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 150%;
  z-index: -1;
}

.navbar {
  position: absolute;
  top: 0px;
  width: 100%;
}

.lora {
  font-family: 'Lora', serif;
}

#card1 {
  background: radial-gradient(100% 225% at 100% 0%, #FAFF00 0%, #000000 100%), linear-gradient(235deg, #DB00FF 0%, #000000 100%), linear-gradient(45deg, #241E92 0%, #241E92 40%, #5432D3 40%, #5432D3 50%, #7B6CF6 50%, #7B6CF6 70%, #E5A5FF 70%, #E5A5FF 100%), linear-gradient(180deg, #01024E 0%, #01024E 43%, #543864 43%, #543864 62%, #8B4367 62%, #8B4367 80%, #FF6464 80%, #FF6464 100%);
  background-blend-mode: overlay, hard-light, overlay, normal;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-left-radius: 5.5px;
  border-bottom-left-radius: 5.5px;
}

#card2 {
  background: radial-gradient(100% 225% at 100% 0%, #FAFF00 0%, #000000 100%), linear-gradient(235deg, #FF7A00 0%, #000000 100%), linear-gradient(20deg, #241E92 0%, #241E92 30%, #5432D3 calc(30% + 1px), #5432D3 35%, #7B6CF6 calc(35% + 1px), #7B6CF6 50%, #E5A5FF calc(50% + 1px), #E5A5FF 100%), linear-gradient(120deg, #110133 0%, #110133 40%, #00918E calc(40% + 1px), #00918E 60%, #4DD599 calc(60% + 1px), #4DD599 70%, #FFDC34 calc(70% + 1px), #FFDC34 100%);
  background-blend-mode: overlay, hard-light, overlay, normal;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-left-radius: 5.5px;
  border-bottom-left-radius: 5.5px;
}

#card6 {
  background: linear-gradient(55deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(235deg, #BDFF00 0%, #000000 100%), linear-gradient(180deg, #002BDC 0%, #002BDC 45%, #2F4BFF 45%, #2F4BFF 60%, #00A6E7 60%, #00A6E7 80%, #FFE37F 80%, #FFE37F 100%);
  background-blend-mode: screen, overlay, hard-light, normal;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-left-radius: 5.5px;
  border-bottom-left-radius: 5.5px;
}

#card3 {
  background: linear-gradient(125deg, #00FF57 0%, #010033 40%, #460043 70%, #F0FFC5 100%), linear-gradient(55deg, #0014C9 0%, #410060 100%), linear-gradient(300deg, #FFC700 0%, #001AFF 100%), radial-gradient(135% 215% at 115% 40%, #393939 0%, #393939 40%, #849561 calc(40% + 1px), #849561 60%, #EED690 calc(60% + 1px), #EED690 80%, #ECEFD8 calc(80% + 1px), #ECEFD8 100%), linear-gradient(125deg, #282D4F 0%, #282D4F 40%, #23103A calc(40% + 1px), #23103A 70%, #A0204C calc(70% + 1px), #A0204C 88%, #FF6C00 calc(88% + 1px), #FF6C00 100%);
  background-blend-mode: overlay, screen, overlay, overlay, normal;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-left-radius: 5.5px;
  border-bottom-left-radius: 5.5px;
}

#card5 {
  background: radial-gradient(100% 225% at 100% 0%, #FF0000 0%, #000000 100%), linear-gradient(236deg, #00C2FF 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 0%, #CDFFEB 36%, #009F9D 36%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
  background-blend-mode: overlay, hard-light, normal;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-left-radius: 5.5px;
  border-bottom-left-radius: 5.5px;
}

#card4 {
  background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
  background-blend-mode: screen, overlay, hard-light, normal;
  background-repeat: no-repeat;
  background-size: auto;
  border-top-left-radius: 5.5px;
  border-bottom-left-radius: 5.5px;
}

#scroll-icon {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 90vh;
  font-size: 25px;
  text-align: center;
  animation: moveupdown 2s ease-in-out infinite;
}

@keyframes moveupdown {
  0%, 100% {
    top: 90vh;
  }
  50% {
    top: 92vh;
  }
}
